.btnColor{
    
    background-color: var(--bg-color);
    color: var(--second-color);
    
    transition: all 0.5s;
    
}

.borderBtn{
    border: 1px solid var(--bolder-color);
    height: 3.25rem;
    width: 3.25rem;
    transition: all 0.5s;
}

.linkStyle{
    color: var(--text-color) !important;
    font-weight: 500;
    transition: all 0.5s;
}

.btnColor:hover{
    
    color: var(--rating-color) ;
    transform: scale(0.95);
    
}
.borderBtn:hover{
    border: 1px solid var(--rating-color);
}
.model {
    background-color: var(--main-color);
    border: 1px solid var(--bolder-color);
}

.model ul li i:hover  {
    transform: rotate(180deg);
    
}

header nav ul {
    border: var(--bolder-color) 1px solid;
    gap :2rem;
    box-shadow: 1px 1px 3px var(--bolder-color);
    background-color: var(--bg-color);
   margin-left: 8rem;
   
    
}

.linkStyle:hover {
color: var(--second-color) !important; 
}
.menu{
    display: none ;
}


header .model{
    padding: 1rem;
    width: 60%;
    animation: 0.7s mymove 1;
    z-index: 9999999999999;
    position: fixed ;
    top: 0;
    left: 0;
    right: 0;
    bottom: 50;
    

}
header .model ul li{
    border-bottom: 1px solid var(--bolder-color);
    padding-bottom: 0;
    margin-bottom: 10px;
}

.header{
    width: 70%;
}
@media (max-width :991px) {
    .header{
        width: 90%;
    }
    .menu{
        display: block;
    }

}

@keyframes mymove {
    0%   {transform: scale(0);}
    60%  {transform: scale(1.2);}
    100% {transform: scale(1);}
  } 