.resumeCV {
    color: var(--light-color)!important;
    background-color: var(--bg-colorbg-color);
    border: 1px solid var(--second-color);
    transition: all 0.3s;
}
.resumeCV:hover{
    transform: rotate(2.5deg) scale(1.3);
}

.robbot{
    margin-top: 2rem;
    
   
}